# Dependencies
node_modules/
dist/
src-tauri/target/
src-tauri/gen/
*.local
.DS_Store
Thumbs.db
*.log
.env
.env.*
.vscode/*
!.vscode/extensions.json
*.csv
*.exe
!OneOcrProfessional/*.exe
*.apk
*.aab
*.keystore
*.jks
OneOcrProfessional/*.zip
OneOcrProfessional/*_log.txt
OneOcrProfessional/*test*.json
OneOcrProfessional/*.metadata.json
OneOcrProfessional/**/*.metadata.json

